.wine-page-single {
  width: 210mm;
  height: 297mm;
  background-color: var(--white);
  overflow: hidden;
  padding: 5mm;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 1;
  gap: 3mm;
}
.left-side {
  height: 200mm;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid red;
}
.right-side {
  background-color: rgba(black, 0.5);
  padding: 5mm;
  color: #fff;
  line-height: 7mm;
  font-weight: 100;
  font-weight: 400;
}
.name {
  font-size: 5mm;
  color: #fff;
}
hr {
  margin-bottom: 5mm;
}
.description1 {
  margin-bottom: 5mm;
  font-size: 3.5mm;
}
.description2 {
  margin-bottom: 5mm;
  font-size: 3.5mm;
}
.goodWith {
  margin-bottom: 5mm;
  font-size: 3.5mm;
}
.temperature-icons {
  position: absolute;
  bottom: 20px;
  right: 70px;
}

.system-label {
  position: absolute;
  right: 10mm;
  bottom: 10mm;
  background-color: #fff;
  color: var(--amor-darkred);
  width: 15mm;
  height: 15mm;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10mm;
  border-radius: 100%;
}
.cover-logo {
  width: 30mm;
  position: absolute;
  left: 10mm;
  top: 10mm;
}
.cover-glasses {
  position: absolute;
  width: 40mm;
  bottom: 10mm;
  right: 10mm;
}

.cover-menu-text {
  font-size: 15mm;
  color: #fff;
  position: absolute;
  text-align: right;
  top: 10mm;
  right: 10mm;
  width: 60mm;
}
.price-list {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2mm;
}
.price-list-item {
  overflow: hidden;
  padding: 1mm;
  display: grid;
  grid-column: 1fr;
  grid-template-rows: 9fr 1fr;
  justify-content: center;
  gap: 1mm;
  color: #fff;
  font-size: 3mm;
  position: relative;
  label {
    position: absolute;
    top: 10%;
    left: 10%;
    margin-top: 0mm;
    margin-left: 0mm;
    width: 7mm;
    height: 7mm;
    font-size: 4mm;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--amor-darkred);
    background-color: #fff;
    border-radius: 100%;
  }
  .temperature-icons {
    position: absolute;
    top: 0;
    right: 10px;

    height: 40px;
    width: 20px;
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
