.wine-page-single {
  width: 148mm;
  height: 210mm;
  background-color: var(--amor-darkred);
  overflow: hidden;
  padding: 10mm;
  display: grid;
  grid-template-columns: 50mm 78mm;
  position: relative;
  z-index: 1;
}
.left-side {
  width: 50mm;
  height: 190mm;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.right-side {
  padding: 5mm;
  padding-left: 10mm;
  color: #fff;
  font-family: "Alegreya", serif;
  line-height: 7mm;
  font-weight: 100;
}
.name {
  font-size: 8mm;
  color: #fff;
}
.description {
  margin-top: 10mm;
  &--title {
    font-weight: 400;
  }
}
.review {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}
.system-label {
  position: absolute;
  right: 5mm;
  bottom: 5mm;
  background-color: #fff;
  color: var(--amor-darkred);
  width: 15mm;
  height: 15mm;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10mm;
  border-radius: 100%;
}
.cover-logo {
  width: 30mm;
  position: absolute;
  left: 10mm;
  top: 10mm;
}
.cover-glasses {
  position: absolute;
  width: 40mm;
  bottom: 10mm;
  right: 10mm;
}

.cover-menu-text {
  font-family: "Alegreya", serif;
  font-size: 20mm;
  color: #fff;
  position: absolute;
  text-align: right;
  top: 10mm;
  right: 10mm;
  width: 60mm;
}
.price-list {
  width: 128mm;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2mm;
}
.price-list-item {
  overflow: hidden;
  // border: 1px solid white;
  display: grid;
  grid-column: 1fr;
  grid-template-rows: 9fr 1fr 1fr;
  justify-content: center;
  color: #fff;
  font-size: 3mm;
  line-height: 4mm;
  position: relative;
  label {
    position: absolute;
    top: 20%;
    left: 20%;
    margin-top: -7.5mm;
    margin-left: -7.5mm;
    width: 15mm;
    height: 15mm;
    font-size: 10mm;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--amor-darkred);
    background-color: #fff;
    border-radius: 100%;
  }
  &__img {
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
