.water-mark {
  position: absolute;
  width: 150mm;
  height: 150mm;
  left: 50%;
  top: 60%;
  transform: translateX(-50%) translateY(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
  z-index: -1;
}
