.title {
  color: var(--amor-darkred);
  text-transform: uppercase;
  font-size: 5mm;
  text-align: center;
  margin: 2mm 0;
}
.beerContainer {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 5mm;
}
.item {
  display: grid;
  grid-template-columns: 4fr 5fr;
  height: 130mm;
  color: var(--amor-darkred);
  gap: 2.5mm;
  align-items: end;
  &__image {
    background-image: url(https://sushi-amor-taastrup.s3.eu-north-1.amazonaws.com/images/beer/sappro.png);
    background-position: center;
    height: 130mm;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1 / 2;
  }
  &__info {
    grid-column: 2 / 3;
    height: 130mm;
  }
  &__name {
    font-size: 4mm;
  }
  &__description {
    font-size: 3mm;
    line-height: 4mm;
    p {
      margin-top: 2mm;
    }
  }
  &__alcohol {
    font-size: 3mm;
    margin-top: 2mm;
  }
  &__price {
    font-size: 3mm;
    margin-top: 2mm;
  }
}
