.newMenuContainer {
  width: 100vw;
  height: 100vh;
  background-color: var(--darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.a4 {
  width: 210mm;
  height: 297mm;
}
.pageBtn {
  font-size: 20px;
  width: 70mm;
  padding: 10px 20px;
  border-radius: 10mm;
  position: absolute;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-transform: capitalize;
  &--previous {
    left: 20px;
  }
  &--next {
    right: 20px;
  }
  &--capture {
    left: 20px;
    bottom: 60px;
  }
  &--cutting-toggle {
    left: 20px;
    bottom: 120px;
  }
}
