.listTitle {
  color: var(--white);
  text-transform: uppercase;
  font-size: 10mm;
  text-align: center;
  margin: 5mm 0;
}
.sodaWaterAndJuice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: "white";
  gap: 2mm;
  &__item {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    color: var(--white);
    gap: 2.5mm;
    padding: 2.5mm;
  }
  &__picture {
    grid-column: 1 / 4;
    grid-row: 1/5;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__title {
    grid-column: 4 / 10;
    font-size: 6mm;
    text-transform: capitalize;
  }
  &__description {
    grid-column: 4 / 10;
    font-size: 4mm;
  }
  &__volume {
    &--s {
      grid-column: 4 / 6;
    }
    &--m {
      grid-column: 6 / 8;
    }
    &--l {
      grid-column: 8 / 10;
    }
  }
  &__price {
    &--s {
      grid-column: 4 / 6;
    }
    &--m {
      grid-column: 6 / 8;
    }
    &--l {
      grid-column: 8 / 10;
    }
  }
}
