.listTitle {
  color: var(--amor-darkred);
  text-transform: uppercase;
  font-size: 10mm;
  text-align: center;
  margin: 5mm 0;
}
.itemContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5mm;
}
.vItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  justify-items: center;
  align-items: center;
  position: relative;
  img {
    width: auto;
    height: 45mm;
  }
  p {
    color: var(--amor-darkred);
  }
  .systemLabel {
    position: absolute;
    width: 10mm;
    height: 10mm;
    color: var(--amor-darkred);
    top: 0;
    right: 0;
    font-size: 5mm;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2mm solid var(--amor-darkred);
    border-radius: 100%;
  }
  .wineAttribute {
    width: 6mm;
    height: 6mm;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2mm;
  }
}
