.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(40, 44, 52);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-btn {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border: none;
}
.page-wrapper {
  width: 154mm;
  height: 216mm;
  background-color: var(--amor-darkred);
  display: flex;
  justify-content: center;
  align-items: center;
}
